<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>Detail User Game</h1>
    <table style="width: 100%">
      <tr>
        <th>User Game Id</th>
        <td><%= user.usergamebiodatum.usergameId %></td>
      </tr>
      <tr>
        <th>User Name</th>
        <td><%= user.username %></td>
      </tr>
      <tr>
        <th>DOB</th>
        <td><%= user.usergamebiodatum.dob %></td>
      </tr>
      <tr>
        <th>POB</th>
        <td><%= user.usergamebiodatum.pob %></td>
      </tr>
      <tr>
        <th>City</th>
        <td><%= user.usergamebiodatum.city %></td>
      </tr>
      <tr>
        <th>Gender</th>
        <td><%= user.usergamebiodatum.gender %></td>
      </tr>
    </table>
  </body>
</html>
