<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Detail User Game</h1>
    <table style="width: 100%">
      <tr>
        <th>User Game Id</th>
        <td><%= user.usergameId %></td>
      </tr>
      <tr>
        <th>User Name</th>
        <td><%= user.usergame.username %></td>
      </tr>
      <tr>
        <th>DOB</th>
        <td><%= user.dob %></td>
      </tr>
      <tr>
        <th>POB</th>
        <td><%= user.pob %></td>
      </tr>
      <tr>
        <th>City</th>
        <td><%= user.city %></td>
      </tr>
      <tr>
        <th>Gender</th>
        <td><%= user.gender %></td>
      </tr>
    </table>
  </body>
</html>
